// stylists
mixin stylist-card(stylistImg, stylistName)
  .card.card__margin
    .card__photo-block
      img(src= stylistImg, alt="стилист").card__photo.card__photo--stylist
    .card__description
      a(href="stylist-card.html").card__description__title= stylistName
      .card__review-stars
        label(title="ужасно")
          input(type="radio", id="star-4")
        label(title="плохо")
          input(type="radio", id="star-3")
        label(title="средне")
          input(type="radio", id="star-2")
        label(title="хорошо")
          input(type="radio", id="star-1")
        label(title="отлично")
          input(type="radio", id="star-0")
      .card__description__text
        | Каждая женщина, как цветок — неповторима. В каждой заложена уникальная природная красота. И я с удовольствием помогу вам ее раскрыть и усилить. Я открою вам коды доступа к вашей внешности.
        | Предлагаю индивидуальный подход именно к вашей внешности и к вашим задачам. Каждый мужчина стремится стать более успешным и желает выглядеть стильно и уверенно.
        | К вашим услугам разные варианты шоппинга, разбор гардероба, консультации по имиджу.
      ul.card__photo-list
        li.card__photo-list__block
          img(src="img/client1.jpg", alt="").card__photo-list__photo
        li.card__photo-list__block
          img(src="img/client2.jpg", alt="").card__photo-list__photo
        li.card__photo-list__block
          img(src="img/client3.jpg", alt="").card__photo-list__photo
        li.card__photo-list__block
          img(src="img/client1.jpg", alt="").card__photo-list__photo
        li.card__photo-list__block
          img(src="img/client2.jpg", alt="").card__photo-list__photo
      button.btn.btn--action Выбрать стилиста

// services
mixin service-card(serviceImg, serviceName, serviceDescription, serviceResult)
  .card.card__margin
    .card__photo-block.card__photo-block--service
      img(src= serviceImg, alt="стилист").card__photo.card__photo--service
    .card__description.card__description--services
      .card__description__title= serviceName
      .card__description__text= serviceDescription
      .card__description__text
        b Результат 
        span.card__description__result= serviceResult
      .card__choose-price
        .card__choose-price-block
          .card__choose-price__category
            b Vip стилист
          .card__choose-price__cost
            button.btn.btn--action.btn--action-small 3500 р/час
        .card__choose-price-block
          .card__choose-price__category
            b Стилист первой категории
          .card__choose-price__cost
            button.btn.btn--action.btn--action-small 2500 р/час
        .card__choose-price-block
          .card__choose-price__category
            b Начинающий стилист
          .card__choose-price__cost
            button.btn.btn--action.btn--action-small 1500 р/час

// lk-stylist
mixin order(orderNumber, orderStatus)
  .order.order__inner
    a(href="#").order__number= orderNumber
    .order__status.order__number__order__status
      .order__status-text= orderStatus
      .order__status-pay Вы можете оплатить заказ 
        a(href="#").order__pay-link здесь

// lk-stylist
mixin orders__item(ordersId, ordersDate, ordersClientName, orderService, ordersFormat, ordersCount, ordersClass, ordersPrice)
  ul.orders__item
    li.orders__checkbox
      input.input-checkbox(type="checkbox")
    li.orders__id
      span= ordersId
    li.orders__date-name
      div= ordersDate
      div= ordersClientName
    li.orders__service
      span= orderService
    li.orders__format
      span= ordersFormat
    li.orders__count
      span= ordersCount
    li.orders__class
      span= ordersClass
    li.orders__price
      span= ordersPrice
      span р

//lk-client
mixin orders__item-client(ordersImg, ordersService, ordersClass, ordersDate, ordersCount, orderPrice)
  ul.orders__item
    li.orders__photo
      img(src= ordersImg, alt="", width="70%")
    li.orders__service.orders__service--big
      span= ordersService
      br 
      span= ordersClass
      br
      a(href="#").common-link Стилевое решение
    li.orders__date-name.orders__date-name--big= ordersDate
    li.orders__count.orders__count--big= ordersCount
    li.orders__price.orders__price--big
      input.input--number.input-price(type="number" disabled value= orderPrice)
      span р

mixin orders__item-client--no-class(ordersImg, ordersService, ordersDate, ordersCount, orderPrice)
  ul.orders__item
    li.orders__photo
      img(src= ordersImg, alt="", width="70%")
    li.orders__service.orders__service--big
      span= ordersService
      br
      a(href="#").common-link Стилевое решение
    li.orders__date-name.orders__date-name--big= ordersDate
    li.orders__count.orders__count--big= ordersCount
    li.orders__price.orders__price--big
      input.input--number.input-price(type="number" disabled value= orderPrice)
      span р

mixin orders__item-new(ordersImg, ordersService, ordersClass, ordersCount, orderPrice)
  ul.orders__item
    li.orders__photo
      img(src= ordersImg, alt="", width="70%")
    li.orders__service.orders__service--big
      span= ordersService
      br 
      span= ordersClass
    li.orders__count.orders__count--big
      .orders__count-change
        button.btn.btn--count.minus -
        input.input--number.input-count(type="number", min="1", max="10", value= ordersCount)
        button.btn.btn--count.plus +
    li.orders__price.orders__price--big
      input.input--number.input-price(type="number" disabled value= orderPrice)
      span р